<div id="spinner-overlay" class="show">
    <div class="spinner-loading">
        <svg class="spinner-circular" height="40" width="40">
            <circle class="spinner-path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10"></circle>
        </svg>
    </div>
</div>